body {
 font-family: 'Judson', serif;
 font-size:16px;
 margin:0;
 background-color: #F0F4EF;
}

h1, h2{
 font-family: 'Archivo Black', sans-serif;
 color:#D6DF25;
 text-align: center;
}
p{
  color:black;
}

#nav{
  background-color: #4B397F;
  margin: 0;
  padding-top:10px;
}
#logo{
  display:inline-block;
  width:5%;
  height:auto;
  padding-left:15px;
  vertical-align: middle;
}
#nav ul{
  list-style: none;
  padding:0;
  margin:0;
  display:inline-block;
  float: right;
}

#nav span{
  font-family:'Archivo Black', sans-serif;
  color:#44C2C9;
  font-size:1.2em;
  padding-left:0.5em;
}



#nav li{
  display: inline-block;
  padding:1.3em;
  font-family:'Archivo Black', sans-serif;
  color:#44C2C9;
}

#nav li a{
  color:#44C2C9;
  text-decoration: none;
  text-align: right;

}


#nav li a:hover{
  color:#F15C44;
  -webkit-transition: border 0.5s ease;
 -moz-transition: border 0.5s ease;
 -o-transition: border 0.5s ease;
 transition: border 0.5s ease;

  border-bottom:5px solid #F15C44;
}

#main{
  margin:10px;
}
#sitedescription{
  /* background-color: #D6DF25;
  border-top: 10px solid #4B397F; */
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
  flex-direction: row;
  align-items: center;

}

.flex-1 {
  flex: 1 0 0;
}
.flex-2{
  flex: 4 0 0;
}

#feelingimg{
  display:block;
  width:70%;
  height:auto;
  margin:10px;
  padding:10px;
}

#sitedescription p{
  font-size: 1.5em;
  vertical-align: middle;
  align-content: center;
  font-family:'Archivo Black', sans-serif;
  color:#44C2C9;
}


input{
  width:50%;
  height:50px;
  margin:10px auto;
  display: block;
  border:5px solid #D6DF25;
  /* background-color:#D6DF25;
  color:white; */
  font-size: 2em;
}

button{
  width:30%;
  padding:0.75em;
  margin:0 auto;
  display: block;
  background-color:#D6DF25;
  color:white;
  font-family: 'Archivo Black', sans-serif;
  font-size:1.3em;
  background: linear-gradient(to right, #44C2C9 50%, #D6DF25 50% );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

button:hover{
  background-position: left bottom;
  cursor: pointer;
}



#background{
  min-height: 500px;
  /* background-image: linear-gradient(to bottom, #72B7E0,  #d4a656, #e16e79); */
  padding:2em;



}

#results{
  flex-flow:row wrap;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
  /* background-color:#ECF09B; */
}

#emotionresult{
  flex: 100%;

  margin-top:10px;
  border-radius: 10px;
}
#emotionresult img{
  width:50px;
  height:auto;

}

#emotionresult p{
  display:block;
  margin: 0 auto;
  text-align: center;
  padding-bottom:10px;

}

#bookresult, #movieresult{
  flex: 1 0 0;

  margin:20px;
  border-radius: 10px;

}
#bookresult h2, #movieresult h2{
  color:#F15B43;

}


img{
  height:200px;
  width:auto;
  display:block;
  margin:10px auto;
}

#footer{
    background-color: #4B397F;
}

#footer p{
  color:white;
  padding:10px;
  margin:0 auto;
  text-align: center;
}
